<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>mypackage.TaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/addTask</url-pattern>
    </servlet-mapping>

</web-app>
